version: '3.8'
services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
  cassandra:
    image: cassandra:latest
    ports:
      - "9042:9042"
